/*
 *  PARTIALS
 *
 *  Partials do not get compiled by Sass. They are great for
 *  abstracting style from other classes. This file contains
 *  global partials only, in the form of helpers.
 *
 *  Best practices: http://www.sitepoint.com/sass-mixin-placeholder/
 */

/* SHIMS, HELPERS */

// Gives us the basic for creating a workable pseudo element
// for :before or :after
%pseudo {
  display: block;
  content: "";
  pointer-events: none;
}

// http://www.sitepoint.com/new-css-image-replacement-technique/
%offscreen-text {
  text-indent: -1000%; // Nuke it from orbit
	white-space: nowrap;
	overflow: hidden;
}

// Related to %vertical-center in utils/_mixins.scss
%vertical-center-parent {
  -webkit-transform-style: preserve-3d;
}

// Space between sub-blocks, like products, blog posts, etc.
%sub-block-space {
  @include trailer(1);
}

%post-base {
  padding: 1rem 1.5rem;
  background-color: white;
}
