/*
 * FOOTER
 *
 */

.site-footer {
  @include padding-leader(2);
  @include padding-trailer(2);
  background: darken($text-color, 15%);
  text-align: center;
  color: white;

  @include bottomless;
}

.site-footer a {
  color: tomato;
}
