/*
 * LAYOUT
 *
 */

%container {
  padding: 0 1rem;

  @include breakpoint($md-display) {
    width: 760px;
    margin: 0 auto;
    padding: 0 1.5rem;
  }
}

.container {
  @extend %container;
}

body {
  background-color: whitesmoke;
}
